$gridColumnWidth: 200px;
$colorDarkMain: rgb(87, 44, 13);
$colorLightMain: #ffe4b5;
$borderRadius: 20px;


.cartContainer {
    display: flex;
    flex-direction: row;

}

.cartProductsListContainer {
    width: 400px;
    border: solid 2px $colorDarkMain;
    border-radius: $borderRadius;
    margin: 20px;
    padding: 20px;
}


.cartTotalContainer {
    width: 300px;
    border: solid 2px $colorDarkMain;
    border-radius: $borderRadius;
    margin: 20px;
    padding: 20px;
}



.cartItemContainer {
    width: 350px;
    height: 100px;
    background-color: white;
    border: solid 2px $colorDarkMain;
    border-radius: $borderRadius;
    margin: 20px 0px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.cartItemPicture {
    width: 90px;
    margin: 5px;
    border: solid 2px $colorDarkMain;
    border-radius: $borderRadius;
}

.cartItemName {
    width: 100px;
    margin: 5px;
    font-size: 10pt;
}

.cartItemTotal {
    width: 50px;
    margin: 5px;
    border: solid 2px $colorDarkMain;
}

.cartItemQuantityBlock {
    width: 120px;
    margin: 5px;

    font-size: 10pt;
}

.cartQuantity {
    width: 20px;
    text-align: right;
}

.cartButton {
    width: 20px;
    height: 20px;
}

.cartButtonDelete {
    background-image: url('./iconDelete.png');
    background-size: contain;
    border: none;
    margin-left: 20px;
}

.cartButtonActive {
    width: 20px;
    height: 20px;
    background-color: $colorLightMain;
    color: $colorDarkMain;
    border: solid $colorDarkMain 1px;
    border-radius: 1px;
}

.cartButtonNonActive {
    width: 20px;
    height: 20px;
    background-color: lightgrey;
    color: $colorDarkMain;
    border: solid gray 1px;
    border-radius: 1px;

}

.cartForOrder {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: white;
    color: $colorDarkMain;
    border: solid $colorDarkMain 2px;
    border-radius: 5px;
}