$gridColumnWidth: 200px;

.CardsBlockContainer {
    display: grid;
    grid-template-columns: repeat(4, $gridColumnWidth);
    grid-template-rows: 300px;
    grid-gap: 40px;
    padding: 40px;
    padding-bottom: 120px;

}

.cardContainer {
    width: 160px;
    height: 260px;
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid rgb(87, 44, 13);
    box-shadow: 3px 3px 20px black;
    padding: 20px;
}

.cardPicture {
    max-width: 100%;
    align: center;
    border: 3px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.cardPrice {
    color: rgb(87, 44, 13);
    font-weight: 500;
    font-size: 15px;
}

.cardName {
    color: rgb(87, 44, 13);
    font-size: 12px;
}



@media only screen and (max-width: 1000px) {
    .CardsBlockContainer {
        grid-template-columns: repeat(3, $gridColumnWidth);

    }

}

@media only screen and (max-width: 768px) {
    .CardsBlockContainer {
        grid-template-columns: repeat(2, $gridColumnWidth);

    }
}

@media only screen and (max-width: 450px) {
    .CardsBlockContainer {
        grid-template-columns: $gridColumnWidth;
        ;

    }
}