$gridColumnWidth: 200px;
$colorDarkMain: rgb(87, 44, 13);
$colorLightMain: #ffe4b5;

.CardsBlockContainer {
    display: grid;
    grid-template-columns: repeat(4, $gridColumnWidth);
    grid-template-rows: 300px;
    grid-gap: 40px;
    padding: 40px;
    padding-bottom: 120px;

}

.cardContainer {
    width: 160px;
    height: 260px;
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid rgb(87, 44, 13);
    box-shadow: 3px 3px 20px black;
    padding: 20px;
    position: relative;
}

.cardPicture {
    max-width: 80%;
    align: center;
    border: 3px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.cardPrice {
    color: $colorDarkMain;
    font-weight: 500;
    font-size: 15px;
}

.cardName {
    color: $colorDarkMain;
    font-size: 12px;
}

.cardCartButton {
    width: inherit;
    height: 30px;
    background-color: $colorLightMain;
    color: $colorDarkMain;
    border: solid $colorDarkMain 2px;
    border-radius: 3px;

    &:hover {
        box-shadow: 3px 3px 20px $colorDarkMain;
    }
}

.cardCartButtonIn {
    background-color: white;
    color: $colorDarkMain;

    &:hover {
        box-shadow: none;
    }
}

.cardCartInput {
    width: 60px;
    height: 25px;
    text-align: center;
}

.cardCartElementsContainer {
    width: 160px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
}

.priceInitial {
    text-decoration: line-through;
    color: gray
}

.priceFinal {}

.discount {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 10px;
    top: 10px;
    border: solid red 2px;
    border-radius: 30px;
    text-align: center;
    color: red;
    font-size: 10pt;
    line-height: 30px;
    font-weight: 700;
    background-color: white;
}

.cardFav {
    width: 32px;
    height: 32px;
    position: absolute;
    right: 10px;
    top: 10px;
}


@media only screen and (max-width: 1000px) {
    .CardsBlockContainer {
        grid-template-columns: repeat(3, $gridColumnWidth);

    }

}

@media only screen and (max-width: 768px) {
    .CardsBlockContainer {
        grid-template-columns: repeat(2, $gridColumnWidth);

    }
}

@media only screen and (max-width: 450px) {
    .CardsBlockContainer {
        grid-template-columns: $gridColumnWidth;
        ;

    }
}