.background {
    background: rgb(87, 44, 13);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 10;
    color: rgb(255, 255, 100);
}

.logo {
    height: 80px;
}

.icon {
    max-height: 50px;
}

.button {
    background: yellowgreen;
    border: none;
    border-radius: 20%;
    border-color: black;
    padding: 2px;
    width: 60px;
    height: 60px;

}