$colorDarkMain: rgb(87, 44, 13);
$colorLightMain: #ffe4b5;
$colorAccent: rgb(255, 255, 100);

.background {
    background: $colorDarkMain;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 10;
    color: rgb(255, 255, 100);
}

.logo {
    height: 80px;
}

.icon {
    height: 30px;
}

.button {
    background: $colorDarkMain;
    border: solid 2px $colorLightMain;
    border-radius: 20%;
    padding: 2px;
    width: 60px;
    height: 40px;
    background-image: inherit;
    color: $colorLightMain;

    &:hover {
        box-shadow: 3px 3px 20px $colorLightMain;
    }
}

.forCart {
    position: relative;
    width: 60px;
    height: 40px;
}

.cartQuantity {
    width: 18px;
    height: 18px;
    position: absolute;
    right: -5px;
    top: -5px;
    border: solid $colorDarkMain 2px;
    border-radius: 30px;
    text-align: center;
    color: $colorDarkMain;
    font-size: 9pt;
    font-weight: 700;
    background-color: $colorLightMain;
}

.raznoe {
    box-shadow: 3px 3px 20px $colorAccent;
}