.formContainer {
    display: flex;
    flex-direction: column;
    max-width: 300px;

}

.formField {
    max-width: 300px;
}

.formButton {
    max-width: 200px;
}

.formErrorMessage {
    color: orange;
}